.container {
    display: flex;
    margin: -10;
    justify-content: center;
    text-align: center;
  }
  .container1 {
    /* flex: 1; */
    font-size: 50;
    color: #f4a261;
    background-color: #2a9d8f;
    flex-basis: 20%;
    padding-bottom: 240;
  }
  .container2 {
    /* flex: 2; */
    color: #e76f51;
    font-family: 'Fresca', sans-serif;
    background-color: #e9c46a;
    justify-content: center;
    flex-basis: 60%;
    font-size: 40 ;
    padding-bottom: 100;
   
  }
  .container3 {
    /* flex: 1; */
    color: #2a9d8f;
    font-size: 50;
    background-color: #f4a261;
    flex-basis: 20%;
  }
  #result {
    padding-top: 60;
    padding-bottom: 20;
  }
  #score{
    font-size: 70;
    align-items: center;
  }
  #buttons {
    padding-top: 40;
    display: flex;
    justify-content: center;
  }
  #rockbtn {
    padding: 20;
    margin-right: 20;
    background-color: #faf3dd;
    border-radius: 7px;
    transition-duration: 0.4s;
  }
  #rockbtn:hover {
    background-color: #264653;  
   
    color: white;
  }
  #paperbtn {
    padding: 20;
    margin-right: 20;
    background-color: #faf3dd;
    border-radius: 7px;
    transition-duration: 0.4s;
  }
  #paperbtn:hover {
    background-color: #264653;  
    color: white;
  }
  #scissorbtn{
    padding: 20;
    background-color: #faf3dd;
    border-radius: 7px;
    transition-duration: 0.4s;
    }
    #scissorbtn:hover {
        background-color: #264653;  
        color: white;
    }

  #finalResult {
    flex: 1;
   padding-top: 40;
   font-size: 60;
   font-weight: 300;
  }
  #reload {
    flex: 1;
    padding-top: 20;
  }
  #humanChoice{
    padding-top: 20;
  }
  #compChoice{
    padding-top: 20;
  }
  .left{
    margin-top: 150;
    font-family: 'Henny Penny', cursive;
  }
  .right{
    margin-top: 150;
    font-family: 'Henny Penny', cursive;
  }
  .header{
    color: #264653;
    margin-top: 50;
     font-size: 60;
    font-family: 'Henny Penny', cursive;
  }
  .cr{
    padding: 40px;
    background-color: #264653;
    margin: -10;
    font-size:  17px;
    color: #F9FAF8;
    text-align: center;
    font-family: 'Albert Sans', sans-serif
}
 