.container {
    display: flex;
    margin: -10;
    justify-content: center;
    text-align: center;
  }
  .container1 {
    /* flex: 1; */
    font-size: 50;
    background-color: #ffa69e;
    flex-basis: 20%;
    padding-bottom: 240;
  }
  .container2 {
    /* flex: 2; */
    font-family: 'Fresca', sans-serif;
    background-color: #faf3dd;
    justify-content: center;
    flex-basis: 60%;
    font-size: 40 ;
     
  }
  .container3 {
    /* flex: 1; */
    font-size: 50;
    background-color: #b8f2e6;
    flex-basis: 20%;
  }
  #result {
    padding-top: 60;
    padding-bottom: 20;
  }
  #score{
    font-size: 70;
    align-items: center;
  }
  #buttons {
    padding-top: 40;
    display: flex;
    justify-content: center;
  }
  #rockbtn {
    padding: 20;
    margin-right: 20;
    background-color: #faf3dd;
    border-radius: 7px;
  }
  #paperbtn {
    padding: 20;
    margin-right: 20;
    background-color: #faf3dd;
    border-radius: 7px;
  }
  #scissorbtn{
    padding: 20;
    background-color: #faf3dd;
    border-radius: 7px;
    }

  #finalResult {
    flex: 1;
   padding-top: 40;
   font-size: 60;
   font-weight: 300;
  }
  #reload {
    flex: 1;
    padding-top: 20;
  }
  #humanChoice{
    padding-top: 50;
  }
  #compChoice{
    padding-top: 50;
  }
  .left{
    margin-top: 140;
    font-family: 'Henny Penny', cursive;
  }
  .right{
    margin-top: 140;
    font-family: 'Henny Penny', cursive;
  }
  .header{
    margin-top: 50;
     font-size: 60;
    font-family: 'Henny Penny', cursive;
  }